{{define "title"}}Create a new movie{{end}}
{{define "main"}}
    <form action="/film/create", method="POST">
        <div>
            <label>Title:</label>
            {{with .Form.FieldErrors.title}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type="text" name="title">
            
        </div>

        <div>
            <label>Content:</label>
            {{with .Form.FieldErrors.content}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name="content"></textarea>
        </div>

        <div>
            <label>
                Year:
            </label>
            {{with .Form.FieldErrors.year}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="year">
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>

    </form>

{{end}}