{{define "scripts"}}
<script src="/static/js/index.js"></script>
{{end}}
{{define "main"}}


<div class="movie-container">

</div>

<div class="film-container">

</div>

<div class="search-container">
    <form action="" method="post" onsubmit="return false;" id="search-form">
        <input type="text" name="search-film" id="search-film">
        <button onclick="Searched();" onsubmit="return false;">Search</button>
    </form>
    <div class="search-results">

    </div>


</div>
<div class="watchlist">
        
</div>
<div class="watchedlist">
        
</div>

{{end}}